#profile-body {
  margin-top: 80px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 0;
  /* border: 1px solid black; */
}

#profile-body > #details {
  margin: auto;
  width: 70%;
  height: 90%;
  line-height: 15px;
  /* border: 1px solid black; */
}

#profile-body > #details > #account {
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 15px 0;
  /* border: 1px solid black; */
}

#profile-body > #details > #account > h3 {
  padding-bottom: 4px;
}

#profile-body > #details > #account > span {
  font-size: 13px;
  padding: 0;
  margin: 0;
}

#profile-body > #details > #overview {
  height: 90%;
  width: 100%;
  margin: auto;
  display: flex;
}

#profile-body > #details > #overview > #left {
  height: 100%;
  width: 20%;
  border: 1px solid rgb(199, 199, 199);
  border-bottom: none;
  border-left: none;
  border-top: none;
}

#profile-body > #details > #overview > #left > #overview-main {
  height: 65px;
  width: 85%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(199, 199, 199);
}

#profile-body > #details > #overview > #left > #overview-main > p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: rgb(59, 59, 59);
}

#profile-body > #details > #overview > #left > #orders {
  height: 100px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(199, 199, 199);
}

#profile-body > #details > #overview > #left > #orders > span {
  font-size: 12px;
  color: grey;
  padding: 0;
  margin: 0;
}

#profile-body > #details > #overview > #left > #orders > p {
  font-size: 15px;
  color: rgb(59, 59, 59);
  padding: 0;
  margin: 0;
}

#profile-body > #details > #overview > #left > #credits {
  height: 150px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(199, 199, 199);
  /* border: 1px solid black; */
}

#profile-body > #details > #overview > #left > #credits > span {
  font-size: 12px;
  color: grey;
  padding: 0;
  margin: 5px 0;
}

#profile-body > #details > #overview > #left > #credits > p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: rgb(59, 59, 59);
  line-height: 25px !important;
}

#profile-body > #details > #overview > #left > #account {
  height: 180px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(199, 199, 199);
  /* border: 1px solid black; */
}

#profile-body > #details > #overview > #left > #account > span {
  font-size: 12px;
  color: grey;
  padding: 0;
  margin: 10px 0;
}

#profile-body > #details > #overview > #left > #account > h3 {
  font-size: 14px;
  color: #14cda8;
  padding: 0;
  margin: 0;
}

#profile-body > #details > #overview > #left > #account > p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: rgb(59, 59, 59);
  line-height: 25px !important;
}

#profile-body > #details > #overview > #left > #legal {
  height: 100px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
}

#profile-body > #details > #overview > #left > #legal > span {
  font-size: 12px;
  color: grey;
  padding: 0;
  margin: 10px 0;
}

#profile-body > #details > #overview > #left > #legal > p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: rgb(59, 59, 59);
  line-height: 25px !important;
}

#profile-body > #details > #overview > #right {
  height: 640px;
  width: 75%;
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-around; */
  border: 1px solid rgb(199, 199, 199);
}

#profile-body > #details > #overview > #right > #header {
  width: 70%;
  height: 12%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 25px 0 0 15px;
  /* border: 1px solid black; */
}

#profile-body > #details > #overview > #right > #header > h3 {
  font-size: 18px;
  color: rgb(45, 45, 45);
}

#profile-body > #details > #overview > #right > #personal-details {
  /* border: 1px solid black; */
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 25px 0;
}

#profile-body > #details > #overview > #right > #personal-details > div {
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(80, 80, 80);
  /* border: 1px solid black; */
}

#profile-body > #details > #overview > #right > #personal-details > div > p {
  /* padding: 0 10px; */
  width: 50%;
  padding: 0;
  margin: 0;
}

#profile-body > #details > #overview > #right > #personal-details > div > span {
  /* padding: 0 10px; */
  width: 50%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

#profile-body > #details > #overview > #right > #button {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#profile-body > #details > #overview > #right > #button > button {
  width: 65%;
  height: 85%;
  border: none;
  background: none;
  border-radius: 5px;
  background-color: #09a492;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

  /* border: 1px solid rgb(199, 199, 199); */
}

/* -------------------------------edit-profile-popup---------------------------- */

#screen {
  top: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  background-color: rgb(0, 0, 0, 0.5) !important;
  z-index: 11;
}

#screen > #edit-profile {
  height: 65%;
  width: 35%;
  position: absolute;
  /* top: 0; */
  /* left: 33%; */
  border-radius: 15px;
  background-color: white;
  /* border: 2px solid red; */
}

#screen > #edit-profile .close {
  text-align: right;
  padding: 5px 25px;
  margin: 10px 0 10px 0;
  /* border: 2px solid black; */
}

#screen > #edit-profile .close > .fa-xmark {
  cursor: pointer;
}

#screen > #edit-profile > .header {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 10px 0;
  /* border: 2px solid black; */
}

#screen > #edit-profile > .header > h1 {
  width: 65%;
  font-weight: 600;
  line-height: 35px;
}

#screen > #edit-profile > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

#screen > #edit-profile > form > input {
  height: 48px;
  width: 70%;
  margin: 10px 0;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(204, 204, 204);
}

#screen > #edit-profile > form > input:hover {
  border-bottom: 1px solid #09a492;
}

#screen > #edit-profile > form > input::placeholder {
  text-align: center;
  /* padding-left: 50px ; */
}

#screen > #edit-profile > form > button {
  height: 48px;
  width: 70%;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0 0 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: #09a492;
  color: white;
}
