#products {
  height: auto;
  width: 100%;
  margin: 135px 0 50px 0;
  /* border: 1px solid black; */
}

#products > #header-product {
  padding: 0 15px;
  /* border: 1px solid red; */
}

#products > #header-product > h2 {
  font-size: 22px;
  font-weight: 500;
  color: rgb(38, 38, 38);
  padding: 0;
  margin: 0;
}

#products > #header-product > h4 {
  font-weight: 500;
  font-size: 15px;
}

#products > #header-product > h4 > span {
  font-weight: 400;
}

#products > #filter-products {
  height: auto;
  width: 100%;
  padding: 0 10px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}

#products > #filter-products > #left {
  height: auto;
  width: 24%;
  /* border: 1px solid rgb(183, 183, 183); */
}

#left > #sort {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-radius: 5px;
  border: 1px solid rgb(212, 212, 212);
}

#left > #sort > span {
  color: grey;
  font-size: 16px;
}

#left > #sort > span > b {
  font-weight: 500;
  color: black;
}

#left > #filter-main {
  margin-top: 18px;
  border-radius: 5px;
  border: 1px solid rgb(212, 212, 212);
}

#left > #filter-main > #filters {
  width: 85%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid rgb(212, 212, 212);
}

#left > #filter-main > #filters > h4 {
  font-size: 18px;
  font-weight: 500;
  /* padding: 15px 0; */
}

#left > #filter-main > #filters > p {
  /* padding: 0 0 20px 20px; */
  font-size: 12px;
  font-weight: 500;
  color: rgb(123, 123, 123);
  /* border: 1px solid black; */
}

#left > #filter-main > .filter {
  height: 60px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

#left > #filter-main > .filter:last-child {
  border-bottom: none;
}

#left > #filter-main > .filter > h3 {
  font-weight: 500;
  color: rgb(43, 43, 43);
  font-size: 16px;
}

#left > #filter-main > .filter > i {
  font-size: 15px;
  color: rgb(43, 43, 43);
}

#products > #filter-products > #right {
  height: auto;
  width: 74%;
  /* border: 1px solid black; */
}

#products > #filter-products > #right > #all-products {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  /* border: 2px solid green; */
}

#products > #filter-products > #right > #all-products > .product {
  height: auto;
  padding-bottom: 20px;
  width: 23%;
  border-radius: 5px;
  margin: 0 19px 20px 0;
  cursor: pointer;
  border: 1px solid rgb(212, 212, 212);
}

#products > #filter-products > #right > #all-products > .product > .image {
  height: 220px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border: 1px solid black; */
}

#products
  > #filter-products
  > #right
  > #all-products
  > .product
  > .image
  > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#products > #filter-products > #right > #all-products > .product > h5 {
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(153, 153, 153);
}

#products > #filter-products > #right > #all-products > .product > h2 {
  color: rgb(45, 45, 45);
  padding: 0 10px;
}

#products > #filter-products > #right > #all-products > .product > h2 > span {
  font-size: 13px;
  font-weight: 500;
  color: rgb(107, 107, 107);
}

#products > #filter-products > #right > #all-products > .product > p {
  font-size: 13px;
  margin: 10px 0 15px 10px;
  width: 100px;
  text-align: center;
  border-radius: 15px;
  background-color: #ededff;
  /* border: 1px solid black; */
}

#products > #filter-products > #right > #all-products > .product > .ratings {
  display: flex;
  align-items: center;
  padding: 0 10px;
  /* border: 1px solid black; */
}

#products
  > #filter-products
  > #right
  > #all-products
  > .product
  > .ratings
  > .rating {
  width: 55px;
  padding: 0 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background-color: #23bb75;
  color: white;
  /* border: 1px solid black; */
}

#products
  > #filter-products
  > #right
  > #all-products
  > .product
  > .ratings
  > .rating
  > h4 {
  padding: 0 3px;
  font-weight: 500;
}

#products
  > #filter-products
  > #right
  > #all-products
  > .product
  > .ratings
  > h6 {
  padding: 0 5px;
  font-size: 12px;
  color: rgb(107, 107, 107);
  font-weight: 500;
}

#products
  > #filter-products
  > #right
  > #all-products
  > .product
  > .ratings
  .fa-star {
  font-size: 10px;
}


#electronics-loading{
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#electronics-loading h3{
  font-size: 25px;
  color:  #09a492;
}

#no-prod-msg{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #09a492;
  font-size: 20px;
  /* border: 1px solid black; */
}