#success-main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#success{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 30%;
    /* border: 1px solid green; */
}

.fa-circle-check{
    color: #09a492;
    margin: 15px 0;
    font-size: 40px;
}

#success p{
    margin: 5px 0 10px 0;
}

#success button{
    margin: 10px 0;
    border: none;
    background: none;
    padding: 10px 15px;
    border-radius: 20px;
   background-color: #09a492;
   color: white;
   cursor: pointer;
   font-weight: 600;
    /* border: 1px solid black; */
}